<app-sidebar></app-sidebar>
<div class="border-bottom pt-5 mt-2 mb-5">
    <h1 class="mt-2 mt-md-4 mb-3 pt-5">Configuraciones</h1>
    <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
      <p class="text-muted">Este módulo se establece las configuraciones de la tienda.</p>

    </div>
  </div>

<form #configForm="ngForm" (ngSubmit)="updateConfigData(configForm);">
  <div class="card box-shadow-sm">
    <div class="card-header">
        <h5 style="margin-bottom: 0px;">Configuraciones</h5>
    </div>

    <div class="card-body">
      <div style="max-width: 48rem;">
        <div class="form-group row align-items-center">
          <label class="col-md-3 col-form-label font-weight-medium" for="text-input">Nombre de la tienda</label>
          <div class="col-md-9">
            <input class="form-control" type="text" id="text-input" name="titulo" [(ngModel)]="configData.titulo" required>
          </div>
        </div>
        <div class="form-group row align-items-center">
          <label class="col-md-3 col-form-label font-weight-medium" for="text-input">Facturación</label>
          <div class="col-md-4">
            <input class="form-control" type="number" id="text-input" name="serie" [(ngModel)]="configData.serie" required>
          </div>
          <div class="col-md-5">
            <input class="form-control" type="number" id="text-input" name="correlativo" [(ngModel)]="configData.correlativo" required>
          </div>
        </div>
        <div class="form-group row align-items-center">
          <label class="col-md-3 col-form-label font-weight-medium" for="text-input">Categorías</label>
          <div class="col-md-4">
            <input class="form-control" type="text" id="text-input" placeholder="Titulo Categoria" name="tittleCategory" [(ngModel)]="tittleCategory" >
   
          </div>
          <div class="col-md-5">
            <input class="form-control" type="text" id="text-input" placeholder="Icono Categoria" name="iconCategory" [(ngModel)]="iconCategory" >
          </div>
          <div class="col-md-3">
            
          </div>
          <div class="col-md-9">
            <a style="cursor: pointer;" class="mb-5" data-toggle="modal" [attr.data-target]="'#modalDefault'">Ver lista de iconos</a>
            <br>
            <a style="cursor: pointer;" class="mb-5" (click)="addCategory();">Agregar</a>
            <!-- Icons Modal -->
            <div class="modal fade" id="modalDefault" tabindex="-1" style="display: none;" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Lista de iconos</h4>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
                  </div>
                  <div class="modal-body">
                    <p class="text-center">De clic al icono y este se ingresara automaticamente en el campo de Icono Categoria</p>
                    <div class="container">
                      <div class="row g-0">
                        <div class="col-sm-3">
                          <div class="text-center">
                            <a style="cursor:pointer;" (click)="getIcon();">
                            <i class="fa-regular fa-gem"></i>
                            <p class="mb-2" id="iconFa">fa-regular fa-gem</p>
                            <input type="text" id="icon" value="fa-regular fa-gem" hidden="true">
                            </a>
                          </div>
                        </div>
                        <span class="divider-vertical d-sm-block d-none"></span>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                      <button class="btn btn-primary btn-sm close" type="button" data-dismiss="modal">Cancelar</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="table-responsive mt-3">
              <table class="table table-sm" *ngIf="configData.categorias">
                <thead class="thead-dark">
                  <tr>
                    <th>Categoria</th>
                    <th>Icono</th>
                    <th>Eliminar</th>
                  </tr>
                </thead>
                <ng-container *ngIf="configData.categorias.length == 0">
                  <tbody>
                    <td colspan="2" class="text-center">
                      <span class="text-muted">No hay categorias disponibles</span>
                    </td>
                  </tbody>
                </ng-container>
                <ng-container *ngIf="configData.categorias.length >= 1">
                  <tbody *ngFor="let category of configData.categorias; let indice = index">
                    <td>
                      {{category.titulo}}
                    </td>
                    <td>
                      <i class="{{category.icono}}"></i>{{category.icono}}
                    </td>
                    <td>
                      <a style="cursor: pointer; text-decoration: none;" class="btn btn-danger btn-sm" (click)="deleteCategory(indice)">Eliminar</a>
                    </td>
                  </tbody>
                </ng-container>
              </table>
            </div>
          </div>
         
        </div>
        <div class="form-group row align-items3center">
          <label class="col-md-3 col-form-label font-weight-medium" for="file-input">Logo</label>
          <div class="col-md-9">
            <div class="cs-file-drop-area">
              <div class="cs-file-drop-preview img-thumbnail rounded">
                <img [src]="imgSelected" alt="">
              </div>
              <span class="cs-file-drop-message">Arrastre la imagen</span>
              <input type="file" class="cs-file-drop-input" (change)="fileChangeEvent($event)">
              <button type="button" class="cs-file-drop-btn btn btn-outline-primary btn-sm">O seleccione la imagen</button>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-success mr-3" type="submit">Guardar cambios</button>
    </div>
</div>
</form>  